body.logged-in {
	.navbar-fixed-top {
		top:32px;
	}
}

.cotizar .card-group .active {
	background-color: $brand-primary;
}

.cotizar .card {
	@include media-breakpoint-up(sm) {
		width:33%;
	}
}

.media-left img {
	width: 3rem;
}

#elegi-superficie,#calcula-cuotas {
	display: none;
}

#wp-admin-bar-wp-logo,#wp-admin-bar-site-name,#wp-admin-bar-search,#wp-admin-bar-edit-profile,#wp-admin-bar-user-info {
	display: none!important;
}

.jumbotron {
	margin-bottom: 0;
	h1,h2,h3,h4,h5 {
		color: $brand-primary;
	}
}

.btn-ver_casa {
	padding: 0 1.25rem .75rem 1.25rem;
}

.btn-default {
	color: $gray-dark;
	background-color: $brand-primary;
	&:hover {
		color: $gray;
	}
}

.text-default {
	color: $gray-dark!important;
}

.carousel-control {
  // Set gradients for backgrounds
  &.left {
    background-image: none;
  }
  &.right {
		background-image: none;
  }

  // Hover/focus state
  @include hover-focus {
    color: $carousel-control-color;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  // Toggles
  .icon-prev,
  .icon-next {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: $carousel-icon-width;
    height: $carousel-icon-width;
    margin-top: -($carousel-icon-width / 2);
    font-family: Fontawesome;
    line-height: 1;
		background-color: rgba($brand-info, .4);
  }
  .icon-prev {
    left: 50%;
    margin-left: -($carousel-icon-width / 2);
  }
  .icon-next {
    right: 50%;
    margin-right: -($carousel-icon-width / 2);
  }

  .icon-prev {
    &::before {
      content: "\f053";
			top: 10px;
			position: relative;
		}
  }
  .icon-next {
    &::before {
      content: "\f054";
			top: 10px;
			position: relative;
    }
  }
}

.text-blanco {
	color: $gray-lightest;
}

.bg-preventa {
	background-color: $brand-preventa;
	// padding: $spacer-y*2 0;
	// color: $gray-lightest;
}

.bg-grisclaro {
	background-color: $gray-light;
}

input.wpcf7-form-control {
	border-bottom: solid 2px $gray-dark;
	&:focus {
		border-bottom: solid 2px black;
	}
}
.wpcf7-submit {
	border: 2px solid $gray-dark;
	background-color: transparent;
	color: $gray-dark;
	font-weight: 700;
	text-transform: uppercase;
	&:hover {
		background-color: $gray-dark;
		color: $gray-lightest;
	}
}

.spacer-y {
	margin: $spacer-y/2 0;
}

// Navigation

.bg-navbar {
	background-color: $navbar-light-hover-color;
}

.navbar-brand {
	// margin-left: -($spacer-x/2);
	display: inline-block;
	// margin-top: $spacer-y/1.5;
	margin-bottom: $spacer-y/2;
	width: 180px;
	@include media-breakpoint-down(sm) {
		float: none;
		// padding-right: 2rem;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.descripcion {
	padding-top: 27px;
	float: left;
	text-transform: none;;
	// display: inline-block;;
}

.navbar-toggler {
	position: absolute;
	right: 12px;
	top: 18px;
}

.navbar-nav {
	.nav-item {
		@include media-breakpoint-down(xs) {
			float: none;
		}
	}

	.nav-link {
		display: block;
		@include media-breakpoint-up(lg) {
			padding-top:    $spacer-y*2;
			padding-bottom: 0;
		}

		+ .nav-link {
			margin-left: .8rem;
		}
	}

	.nav-item + .nav-item {
		margin-left: 1.6rem;
		@include media-breakpoint-down(sm) {
			margin-left: 0;
		}
	}
}

#exCollapsingNavbar2 .social-icons-lists {
	.socicon {
		color:white!important;
	}
	padding: 0;
	@include media-breakpoint-down(sm) {
		clear: both;
	}
	@include media-breakpoint-up(lg) {
		margin: $spacer*1.6 0 0 $spacer*2;
	}
}

footer .social-icons-lists {
	padding: 0;
	margin-top: -.5em;
	.socicon {
		color:black!important;
	}

	@include media-breakpoint-down(sm) {
	}
}

#footer_pagina .social-icons-list-item {
	@include media-breakpoint-up(md) {
		display: block;
	}
}

#menu-pie {
	overflow: hidden;
	div {overflow: hidden;}
	> .menu-item {
		text-transform: uppercase;
		font-weight: 700;
		a {
			padding: $spacer;
		}
		@include media-breakpoint-up(sm) {
			float: left;
		}
	}
	.sub-menu {
		/*position: absolute;*/
		text-transform: none;
		font-weight: normal;
		padding: 0;
		.menu-item {
			display: block;
		}
		@include media-breakpoint-up(sm) {
			margin-top: 10px;
		}
	}
}

$poster-height-mobile: 90vh;
$poster-height: 90vh;
$poster-height-landscape-mobile: 90vh;

.poster {
	background-size: cover;
	background-position: center;
	height: $poster-height;
	@include media-breakpoint-up(md) {
		//height: $poster-height;
	}
}

.carousel-inner .poster {
	&:before {
		background-color: rgba($gray, .4);
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		@include media-breakpoint-up(md) {
			width: 50%;
		}
	}
	.col-sm-idea {z-index: 1;}
}

.card-poster-notas {
	// height: 80vw;
	height: 20vh;
	display: block;
	position: relative;
	@include media-breakpoint-up(sm) {
		height: 128px;
	}
	@include media-breakpoint-up(lg) {
		height: 150px;
	}

}

.videos {
	.video {
		float: left;
		width: 50%;
		@include media-breakpoint-up(md) {
			width: 25%;
			display: block;
		}
	}
	.ganador::after {
		background-image: url("../images/ganador-01.png");
		content: "";
		position: absolute;
	}
	.gdrts-rating-block {
		margin-top: $spacer-y/2;
	}
}

.card-poster-videos {
	height: 25vw;
	//margin-bottom: $spacer-y*2;
	position: relative;
	display: block;
	@include media-breakpoint-up(sm) {
		height: 165px;
	}
	@include media-breakpoint-up(md) {
		height: 90px;
	}
	@include media-breakpoint-up(lg) {
		height: 130px;
	}
	@include media-breakpoint-up(xl) {
		height: 164px;
	}

	.gdrts-rating-text {
		color: $gray-lightest;
	}
}

.card-poster-ideas {
	height: 25vw;
	margin-bottom: $spacer-y*2;
	display: block;
	@include media-breakpoint-up(sm) {
		height: 165px;
	}
	@include media-breakpoint-up(md) {
		height: 90px;
	}
	@include media-breakpoint-up(lg) {
		height: 130px;
	}
	@include media-breakpoint-up(xl) {
		height: 164px;
	}
}

.col-sm-idea {
	width: 50%;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  margin: 0 auto;
  margin-bottom: $spacer-y*2;
}

.arrow-down-azul-a {
  width: 0;
  height: 0;
  border-left: 10px solid $brand-info;
  border-right: 10px solid $brand-info;
  border-top: 10px solid $gray-lightest;
  margin: 0 80% 0 auto;
  margin-top: $spacer-y*2;
  bottom: -24px;
  position: relative;
  z-index: 2;
}

.arrow-down-azul-b {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $brand-info;
  margin: 0 80% 0 auto;
  margin-bottom: $spacer-y*2;
}

#one {
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 0;
    border-bottom: 30px solid $brand-preventa;
    border-right: 30px solid transparent;
}

#two {
    position: absolute;
    left: 50%;
    bottom: 0;
    right: 0;
    border-bottom: 30px solid $brand-preventa;
    border-left: 30px solid transparent;
}

.seccion {
	clear: both;
	min-height: $poster-height;
	margin-bottom: $spacer-y*4;

	@include media-breakpoint-down(sm) {
		min-height: $poster-height-mobile;
	}
}

.page-header {
	h1 {
		// margin-top: $headings-margin-bottom*3;
	}
}

.page-header {
	padding: $spacer-y*6 0 $spacer-y 0;

	@include media-breakpoint-up(md) {
		padding: $spacer-y*11 0 $spacer-y*2 0;
	}
	@include media-breakpoint-up(lg) {
		padding: $spacer-y*8 0 $spacer-y*2 0;
	}
}

.entry-title {
	padding: $spacer-y*2 0 $spacer-y*2 0;
	@include media-breakpoint-up(sm) {
		padding: $spacer-y*2 0 $spacer-y*2 0;
	}
	@include media-breakpoint-up(md) {
		padding: $spacer-y*2 0 $spacer-y*2 0;
	}
}

.entry-content {
	padding-bottom: $spacer-y*2;
	.img-fluid, img {
		width: 100%;
		//margin: $spacer-y*2 0;
	}
}

.carousel-item-modelo {
	height: 50vw;
	background-size: cover;
}

.single-modelo .entry-content {
	// font-family: $font-family-serif;
	font-size: $font-size-lg;
}

.fa-male {
	font-size: 150%;
}

.container-video {
	margin-left: auto;
  margin-right: auto;
	@include media-breakpoint-up(sm) {
	  padding-left:  ($grid-gutter-width-base / 2);
	  padding-right: ($grid-gutter-width-base / 2);
	}
  @if not $enable-flex {
    @include clearfix();
  }
	@include make-container-max-widths();
}

#menu-pie {
		a {
			color: black;
		}
}
